{% extends 'base.html.twig' %}

{% block title %}
	Mot de passe oublié
{% endblock %}

{% block body %}
<div class="container h-50">
    <div class="row h-100 justify-content-center align-items-center">
        {{ form_start(ForgottenPasswordForm,{'attr':{'class':'class="col-sm-8 col-md-6  control-label center-block mx-auto'}}) }}

            <legend class="h1 my-4">Mot de passe oublié !</legend>

            {{ form_row(ForgottenPasswordForm.email,{'label': false,'attr':{'placeholder': 'Saisissez votre email'}}) }}
            
        {{ form_end(ForgottenPasswordForm) }}
    </div>
</div>
{% endblock %}
