{% extends 'base.html.twig' %}

{% block title %}
	Nouveau mot de passe
{% endblock %}

{% block body %}

    <div class="container h-50">
        <div class="row h-100 justify-content-center align-items-center">
            <form action="" method="post" class="col-sm-8 col-md-6  control-label center-block mx-auto  justify-content-center align-items-center  text-center">
                <legend class="h1 my-5">Nouveau mot de passe</legend>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Saisissez votre nouveau mot de passe" class="form-control">
                </div>
                <input type="hidden" name="token" value"{{ token }}">
                <button type="submit" class="btn btn-dark ">Valider</button>
            </form>
        </div>
    </div>

{% endblock %}
