{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="container h-50">
    <div class="row h-100 justify-content-center align-items-center">
        <form action="{{ path('sign_in')}}" method="post" class="col-sm-8 col-md-6  control-label center-block mx-auto  justify-content-center align-items-center" >
            <legend>Connexion</legend>

            <div class="form-group">
                <input placeholder="Adresse email ..." required name="_username" type="text" class="form-control">
            </div>
            <div class="form-group">
                <input placeholder="Mot de passe ..." required name="_password" type="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-secondary">Connexion !</button>
        </form>
    </div>
</div>
{% endblock %}
