{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container h-50">
    <div class="row h-100 justify-content-center align-items-center">
        <form action="{{ path('sign_in')}}" method="post" class="col-sm-8 col-md-6  control-label center-block mx-auto justify-content-center align-items-center  text-center" >

            <legend class="h1 my-5">Connectez-vous</legend>

            <div class="form-group">
                <input placeholder="Adresse email ..." required name="_username" type="text" class="form-control">
            </div>

            <div class="form-group">
                <input placeholder="Mot de passe ..." required name="_password" type="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-dark">Connexion  <i class="fas fa-sign-in-alt"></i></button>

            <p class="mt-2"><a href="{{ path('forgotten_password')}}">Mot de passe oublié ?</a></p>

        </form>
    </div>
</div>
{% endblock %}
