body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
   
}
img{
    width:100%;
}

ul{
    list-style:none;
}

a{
    text-decoration:none!important;
    cursor: pointer;
}

i{
    font-size:15px;
}

.fa-trash-alt:hover{
    color:IndianRed!important;
    cursor: pointer;
}

.fa-pencil-alt:hover{
    color:SteelBlue!important;
    cursor: pointer;
}

/* Custom Css FILE input to form */
.custom-file-label{
    display:none;
}
.custom-file-input{
    opacity:1!important;
	overflow:hidden;
	cursor: pointer;
    width: 100%;
    top:-3px;
    height: auto!important;
    line-height: 1.9;
    color: #4f4f4f;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
	border-radius: .25rem;
    }
  
.figure{
    border: 2px solid white;
    border-radius: 8px;
    font-weight: 600;
}

.figure img{
    max-width: 300px;
    border-radius: 8px 8px 0 0;
}
.figure:hover img{
    filter: brightness(110%);
}

.figure .h6{
    border: 2px solid white;
    border-radius: 8px;
    font-weight: 700;
    padding: 5px 8px 5px 8px;
    margin-bottom: 0;
}

.figure .h6:hover{
    background-color: white;
    color:#373a3c;
}