<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Snowtricks{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/43219f80e6.js" crossorigin="anonymous"></script>
		{% block stylesheets %}{% endblock %}
	</head>

	<body class="text-secondary bg-light">
 		
		{% include 'base/header.html.twig' %}
		
    	{% include 'base/alertMessage.html.twig' %}
		
		<section>
			{% block body %}{% endblock %}
		</section>

		{% include 'base/footer.html.twig' %}

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>	
		{% block javascripts %}{% endblock %}

	</body>
</html>

